/node_modules
/.env
/.claude
/vendor
/dump.md
/dev-log.md
/launch.md
/context.md
/README.md
/DEPLOY_SHARED_HOSTING.md
/deploy.md
/TOUR_RWANDA_2025_GUIDE.md
/MAIL_SETUP.md
/RESEND_SETUP.md
/compose.yaml
/composer.json
/composer.lock
/.gitignore
/package.json
/package-lock.json
/vite.config.ts
/ressources/css
/public/hot